div#blok1_grabski {background-color: 00ff00;width:606px;}
 div#blok2_grabski {background-color: 00ff00;width:606px;}
 div#blok3_grabski {background-color: 00ff00;width:606px;}
 div#blok1_grabski:hover {background-color: 00FFFF;font-size:21mm;}
 div#blok2_grabski:hover {background-color: C0C0C0;font-size:21mm;}
 div#blok3_grabski:hover {background-color: 7FFF00;font-size:21mm;}